body {
  display: flex;
  background: linear-gradient(rgb(239, 159, 105), rgb(244, 120, 141));
  height: 50%;
  width: 90%;
  font-family: 'Itim', cursive;
  font-size: 8vh;
  color: rgba(255, 81, 23, 0.9);
  justify-content: center;

}
.conteiner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 97.5vh; 
}
.title2 {
  display: flex;
  justify-content: center;
}
.icons{
  display: flex;
  justify-content: center;
  color: rgb(255, 0, 89);

}